body {
	background-color: #44006B;
}

#tutorialvideo1 {
	margin-left: 240px;
	margin-top: 110px;
}

#texttutorial1 {
	color: #FFFFFF;
}

#texttutorial1 {
	margin-top: -540px;
	margin-left: 115px;
}

#waringtutorial1 {
	color: #FF060D;
}

#waringtutorial1 {
	margin-top: 525px;
	margin-left: 430px;
}

